
/* Menu*/

#block-menu-menu-neil-main-menu{
  float: right;
  margin-right: 60px;
}

#block-menu-menu-neil-main-menu li{
  display: inline;
  font-size: 20px;
}

/* Video Responsive */


.fluid-width-video-wrapper,
.media-youtube-video,
.media-vimeo-video{
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;
margin-bottom: 10px;
}
.media-youtube-preview-wrapper object,
.media-youtube-preview-wrapper iframe,
.media-youtube-video object,
.media-youtube-video iframe,
.media-vimeo-video object,
.media-vimeo-video iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


.views-fluidgrid-item-inner {
  width: 280px;
  margin-bottom: 15px;
}
.views-fluidgrid-item-inner .ds-1col {
  background-color: #ffffff;
  line-height: 13px;
  padding-top: 15px;
  border-right-width: 0px;
  padding-left: 015px;
  padding-right: 15px;
}

.node-show .group-right,
.node-type-profile .group-right{
  padding-left: 20px;
}

.node-type-profile h1#page-title{
  display: none;
}
.node-blog.node-teaser{
  clear: both;
}

.node-blog img{
  float: left;
  margin-right: 20px;
}